{
  "presets": [
    "@babel/preset-env",
    "@babel/preset-envreact",
  ],
  "env": {
    "test": {
      "plugins": ["transform-es2015-modules-commonjs"]
    }
  },
  "plugins": [
    "react-hot-loader/babel"
  ]
}